.navbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  background-color: #333;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  z-index: 1000;
  box-sizing: border-box;
  border-right: darkgray 2px solid;
  gap: 10px;
}

.navbar-logo-link {
  margin-bottom: 2rem;
}

.navbar-logo {
  width: 100%;
  max-width: 150px;
}

.navbar-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.navbar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: white 1px solid;
  margin: 5px;
  border-radius: 15px;
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}

.navbar-item:hover {
  background-color: #444;
}

.navbar-item img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.navbar-item span {
  text-align: center;
}

.logout {
  margin-top: auto;
}